.date-picker {
  margin-top: 35px;
  position: relative;

  &__label {
    font-size: 1rem;
    position: absolute;
    text-transform: capitalize;
    transition: all 0.1s ease-in-out;
    font-weight: 200;
    cursor: default;
    color: var(--color-primary);
  }

  &.disabled {
    pointer-events: none;

    input {
      background: transparent;
      border: none;
    }
  }

  input {
    margin-top: -10px;
    padding: 4px;
    font-size: 1.1rem;
    background: transparent;
    border-bottom: solid var(--color-secondary);
    border-width: 2px;
    border-radius: 5px;
    color: var(--color-grey-text);
  }
}
